html {
  height: 100%; }

body {
  background-color: whitesmoke;
  height: 100%; }

#hd {
  margin-bottom: 0; }

#bd {
  max-width: none !important; }

@media only screen and (min-width: 768px) {
  .foundation-web {
    height: 100%;
    padding-bottom: 100px !important; }
    .foundation-web .large-collapse {
      padding: 0;
      margin: 0;
      width: auto;
      max-width: none; }
      .foundation-web .large-collapse > .columns {
        padding: 0 !important;
        margin: 0; } }

.foundation-web h1 {
  line-height: 1;
  margin-top: 0;
  font-weight: 500; }

.foundation-web h5 {
  line-height: 1; }

.foundation-web .button {
  width: 100%; }
  .foundation-web .button > input {
    padding-left: 0; }

.foundation-web .button,
.foundation-web .button.secondary {
  background-image: none;
  padding: 10px 30px; }

.pricingContext-heading {
  margin-top: 2em !important; }
  .pricingContext-heading .pricingContext-question {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: right;
    padding: 0 25px; }
    @media only screen and (max-width: 767px) {
      .pricingContext-heading .pricingContext-question {
        display: block;
        text-align: center;
        font-size: 1.5em; } }
  .pricingContext-heading .pricingContext-instructions {
    font-size: 1em;
    font-weight: normal;
    text-align: right; }
    @media only screen and (max-width: 767px) {
      .pricingContext-heading .pricingContext-instructions {
        font-size: .8em;
        padding-top: 10px;
        text-align: center;
        display: block; } }
