.clndr {
  background-color: #fff;
  max-width: 340px;
  min-width: 310px;
  text-align: center;
  border: 1px solid #ddd;
  border-top: none;
  position: relative;
  margin-bottom: 1.875rem;
}

.dayheaders {
  display: flex;
  background-color: #1c2431;
  font-size: .6875rem;
  font-weight: 700;
  color: #999;
  line-height: 1rem;
  min-width: 3rem;
  text-transform: uppercase;
}

.dayheader {
  flex: 1;
}

.topheader {
  background-color: #1c2431;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: .025rem;
  line-height: 3rem;
  color: #fff;
  display: flex;
}

.monthHeader {
  flex: 1;
}

.clndr-next-button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  right: -7px;
  border-right: none;
  border-left: 7px solid #02aaf3;
  top: calc(50% - 7px);
  left: 0;
}

.clndr-next-button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  right: -3px;
  border-right: none;
  border-left: 3px solid #1c2431;
  top: calc(50% - 3px);
  left: 0;
}

.clndr-previous-button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: none;
  border-right: 7px solid #02aaf3;
  left: -7px;
  top: calc(50% - 7px);
  left: auto;
  right: 0;
}

.clndr-previous-button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-left: none;
  border-right: 3px solid #1c2431;
  left: -3px;
  top: calc(50% - 3px);
  left: auto;
  right: 0;
}

.clndr-next-button,
.clndr-previous-button {
  position: absolute;
  height: 45px;
  width: 30px;
  cursor: pointer;
}

.clndr-next-button {
  right: 0;
}

.clndr-previous-button {
  left: 0;
}

.calDayGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.day {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #262626;
  cursor: default;
  flex: 1 0 43px;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
  min-width: 43px;
  background-color: #b8b8b8;
}

.day.calendar-dow-6 {
  border-right: none;
}

.day.adjacent-month {
  color: #999;
}

.day.selectable {
  background-color: #fff;
  cursor: pointer;
}

.day.inRange,
.day.selected {
  background-color: #02aaf3;
  color: #fff;
  position: relative;
}

.day.selectable.highlight:first-child::before,
.day.selected.rangeStartDate::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  right: -7px;
  border-right: none;
  border-left: 7px solid #fff;
  top: calc(50% - 7px);
  left: -1px;
}

.day.selected.rangeEndDate::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: none;
  border-right: 7px solid #fff;
  left: -7px;
  top: calc(50% - 7px);
  left: auto;
  right: -1px;
}

.day.adjacent-month.inRange,
.day.adjacent-month.rangeStartDate,
.day.adjacent-month.rangeEndDate,
.day.adjacent-month.selected {
  background-color: #0083bb;
  color: #fff;
}

.day.selectable:hover,
.day.selectable.highlight {
  background-color: rgba(2,170,243,0.8);
  color: #fff;
}

.calControlButtons {
  padding-top: 1.875rem;
}

@media only screen and (max-width: 767px) {
  .dayheader,
  .day {
    min-width: 45px;
  }

  .clndr {
    max-width: 317px;
  }
}
.dateField-userInput {
  padding-left: .9375rem;
}

.dateField-userInput .formField,
.dateField-userInput .formField-label {
  margin-bottom: 0;
}

.dateField-userInput.is-active .formField-label {
  color: #02aaf3;
}

.dateField-textField {
  padding: 0;
  height: 2rem;
  border: none;
}

.dateField-textField:disabled {
  background-color: #fff;
}

.dateField-icon {
  fill: #02aaf3;
}

input[type='date'].dateField-textField {
  max-width: 150px;
}

@media only screen and (max-width: 450px) {
  .dateField-icon {
    display: none;
  }

  .dateField-userInput {
    padding-left: 0;
  }
}
.dateRangePicker {
  min-width: 16.25rem;
  background-color: #fff;
  padding: .9375rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
  position: relative;
}

.dateRangePicker-clear {
  position: absolute;
  top: -26px;
  right: 0;
  cursor: pointer;
  font-size: .6875rem;
  font-weight: 700;
}

.dateRangePicker-calendar {
  position: absolute;
  display: none;
  margin-top: 15px;
  box-shadow: 0 4px 12.74px 0.26px rgba(0,0,0,0.35);
  transition: transform 300ms;
}

.dateRangePicker-calendar::before {
  transition: left 300ms;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  left: calc(50% - 12px);
  border-top: none;
  border-bottom: 12px solid #1c2431;
  top: -12px;
  left: 20%;
}

.dateRangePicker-calendar.is-open {
  display: block;
}

.dateField-textField::-webkit-calendar-picker-indicator,
.dateField-textField::-webkit-clear-button {
  display: none;
}

@media only screen and (min-width: 768px) {
  .dateRangePicker-calendar {
    transform: translateX(-30px);
  }

  .dateRangePicker-calendar.is-selectingEndDate {
    transform: translateX(30px);
  }
}

.dateRangePicker-calendar.is-selectingEndDate::before {
  left: calc(80% - 12px);
}

.dateRangePicker-calendar .clndr {
  margin-bottom: 0;
}

.dateRangePicker-date {
  -ms-flex-preferred-size: 0;
}

.dateRangePicker-date:first-child {
  border-right: 1px solid #ddd;
  margin-right: .9375rem;
  padding-right: .9375rem;
}

@media only screen and (max-width: 450px) {
  .dateRangePicker {
    padding: .46875rem;
  }

  .dateRangePicker-date {
    flex-basis: calc(100% - .9375rem);
  }

  .dateRangePicker-date:first-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}

/*# sourceMappingURL=13.index.72b2c897.css.map*/