.earliestDate {
  pointer-events: none;
}

.dateFilter {
  position: relative;
  border: 1px solid #ddd;
  padding: .0625rem 0;
  border-top-left-radius: .1875rem;
  border-bottom-left-radius: .1875rem;
}

.dateFilter .dateRangePicker {
  padding: .125rem 0;
  border: none;
  border-radius: none;
  min-width: 0;
}

.dateFilter .formField-label {
  position: absolute;
  top: .625rem;
  max-width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: .875rem;
  line-height: 1.29;
  font-weight: normal;
  letter-spacing: .01875rem;
  text-align: left;
  color: #999;
  text-transform: capitalize;
}

.dateFilter .dateRangePicker-clear {
  display: none;
}

.dateFilter .dateField-textField {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.29;
  position: relative;
  top: .0625rem;
  letter-spacing: .01875rem;
  text-align: left;
  color: #262626;
}

.dateFilter .dateField-icon {
  display: none;
}

.dateFilter .dateField-userInput {
  padding-left: 0;
}

.dateFilter .dateRangePicker-date:first-child {
  margin-left: 2.1875rem;
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
  max-width: 3.125rem;
}

.dateFilter .dateRangePicker-date:nth-child(2) {
  max-width: 3.125rem;
  margin-left: .75rem;
}

.dateFilter:active {
  border-color: #02aaf3;
}

.dateField-userInput.is-active .formField-label {
  color: #999;
}

.dateFilter--selected {
  border-color: #02aaf3;
}

.dateRangePicker-calendar.is-selectingEndDate::before {
  left: 20%;
}

.dateRangePicker-calendar {
  z-index: 401;
}

.dashPosition {
  position: absolute;
  width: 100%;
  max-width: 9.5625rem;
  margin-left: .875rem;
  z-index: 100;
  top: .625rem;
  pointer-events: none;
}

.dashIcon {
  color: #b8b8b8;
  font-weight: 900;
  margin-left: calc(50% - .25rem);
}

.dashIcon--selected {
  color: #262626;
}

.crossIcon {
  position: absolute;
  right: .9375rem;
  top: .5625rem;
  width: .75rem;
  line-height: 1.4;
  height: .75rem;
  cursor: pointer;
  color: #b8b8b8;
}

.crossIconEarliest {
  display: inline-flex;
}

.crossIconEarliest:hover {
  color: #02aaf3;
}

.crossIcon:hover {
  color: #02aaf3;
}

.calendarIcon {
  position: absolute;
  pointer-events: none;
  line-height: 1.4;
  z-index: 100;
  top: .5625rem;
  left: .9375rem;
  color: #b8b8b8;
}

.calendarIcon--focus {
  color: #02aaf3;
}

.dateFilter-container {
  padding: .5625rem 0;
  color: #b8b8b8;
  width: 7.5rem;
  height: 100%;
  border-radius: .3125rem;
  top: 0;
  left: 1.6875rem;
  position: absolute;
  background-color: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.earliestDateContainer {
  padding: .5625rem 0;
  color: #b8b8b8;
  width: 7.5rem;
  height: 100%;
  border-radius: .3125rem;
  top: 0;
  left: 1.6875rem;
  pointer-events: none;
  position: absolute;
  background-color: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dateFilter-applybutton {
  margin-top: 1.5625rem;
}

.dateFilter-applybutton .button--medium {
  padding: 0;
  outline: none;
}

.dateFilter--clearButton {
  float: left;
}

.dateFilter--applyButton {
  float: right;
}

.dateFilter--disabled {
  color: #b8b8b8;
}

.dateFilter--disabled:active,
.dateFilter--disabled:focus,
.dateFilter--disabled:hover {
  color: #b8b8b8;
  outline: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dateFilter .dateRangePicker-date:nth-child(2) .formField-label {
    top: .625rem;
  }
}

@media only screen and (max-width: 767px) {
  .dateFilter {
    position: static;
    border-radius: .1875rem;
    border-color: #02aaf3;
  }

  .dateFilter .dateRangePicker-date:first-child {
    max-width: 7.5rem;
  }

  .dateFilter .dateRangePicker-date:first-child .formField-label {
    display: none;
  }

  .dateFilter .dashPosition {
    top: 7.6875rem;
    max-width: 15.625rem;
    margin-left: 1.25rem;
  }

  .dateFilter .dateRangePicker-date:nth-child(2) {
    max-width: 7.5rem;
  }

  .dateFilter .dateRangePicker-date:nth-child(2) .formField-label {
    display: none;
  }

  .dateFilter .calendarIcon {
    line-height: 0;
    color: #02aaf3;
    left: 1.875rem;
    top: 7.75rem;
  }

  .dateFilter .crossIcon {
    right: 1.5625rem;
    top: 5.625rem;
  }

  .dateFilter .dashIcon {
    top: 7.75rem;
    left: 0;
  }
}

@media only screen and (min-width: 1441px) {
  .dateFilter .dashIcon {
    left: -36%;
  }
}

/*# sourceMappingURL=24.index.12b77d9e.css.map*/