h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262626;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0; }

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem; }

h2 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem; }

h3 {
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem; }

h4 {
  font-size: 0.6875rem;
  letter-spacing: 0.05rem;
  line-height: 1.125rem; }

h5,
h6 {
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
  line-height: 2.25rem; }

p {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.025rem;
  line-height: 1.5;
  margin: 0 0 1.875rem; }

a {
  color: #02aaf3;
  text-decoration: none; }
  a:hover, a:focus {
    color: #0177aa; }
  a:active {
    color: #0288c2; }

.button,
.linkButton {
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.025rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  margin-bottom: 1.875rem;
  display: inline-block;
  max-width: 100%; }

.button-content,
.linkButton {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out; }

.linkMoreButton-toggle .button-content {
  width: 100%; }

.button:active .button-content,
.button:focus .button-content {
  position: relative; }

.button--small,
.linkButton--small {
  height: 2.6875rem;
  padding: 0 1.25rem;
  min-width: 9.25rem;
  border-width: 2px; }

.button--large,
.linkButton--large {
  height: 3.125rem;
  min-width: 13.75rem;
  padding: 0 1.875rem;
  border-width: 3px; }

.button--extraLarge,
.linkButton--extraLarge {
  height: 3.125rem;
  min-width: 18.75rem;
  padding: 0 1.875rem;
  border-width: 3px; }

.linkButton--small {
  line-height: 2.6875rem; }

.secondaryButton.linkButton--small {
  line-height: 2.4375rem; }

.linkButton--large,
.linkButton--extraLarge {
  line-height: 3.125rem; }

.secondaryButton.linkButton--large,
.secondaryButton.linkButton--extraLarge {
  line-height: 2.75rem; }

.primaryButton,
.primaryLinkButton {
  border-width: 0;
  background-color: #00b437;
  color: #ffffff; }

.primaryButton:disabled,
.primaryLinkButton.is-disabled {
  opacity: 0.7;
  background-color: #b8b8b8;
  cursor: default; }

.primaryButton.button--working,
.secondaryButton.button--working {
  -webkit-animation-name: working_animation;
          animation-name: working_animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  border-width: 0;
  color: #ffffff; }

@-webkit-keyframes working_animation {
  0% {
    background-color: #00b437; }
  50% {
    background-color: #00902c; }
  100% {
    background-color: #00b437; } }

@keyframes working_animation {
  0% {
    background-color: #00b437; }
  50% {
    background-color: #00902c; }
  100% {
    background-color: #00b437; } }

.primaryLinkButton:hover,
.primaryLinkButton:focus,
.primaryLinkButton:active {
  color: #ffffff; }

.primaryButton:hover:not(:disabled),
.primaryButton:focus:not(:disabled),
.primaryLinkButton:hover:not(.is-disabled),
.primaryLinkButton:focus:not(.is-disabled) {
  background-color: #00902c; }

.primaryButton:active:not(:disabled),
.primaryLinkButton:active:not(.is-disabled) {
  background-color: #007e26; }

.secondaryButton,
.secondaryLinkButton {
  background-color: transparent;
  border-color: #00b437;
  color: #00b437; }

.secondaryButton:disabled,
.secondaryLinkButton.is-disabled {
  opacity: 0.7;
  background-color: transparent;
  border-color: #b8b8b8;
  color: #b8b8b8;
  cursor: default; }

.secondaryButton:hover:not(:disabled),
.secondaryButton:focus:not(:disabled),
.secondaryLinkButton:hover:not(.is-disabled),
.secondaryLinkButton:focus:not(.is-disabled) {
  color: #ffffff;
  border-color: #00b437;
  background-color: #00b437; }

.secondaryButton:active:not(:disabled),
.secondaryLinkButton:active:not(.is-disabled) {
  color: #ffffff;
  border-color: #00902c;
  background-color: #00902c; }

.tertiaryButton {
  width: 100%;
  min-width: 18.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 3.125rem;
  border: none;
  background-color: #f4f4f4;
  text-align: left;
  font-size: 0.875rem; }

.tertiaryButton:disabled {
  opacity: 0.7;
  color: #999999;
  cursor: default; }

.tertiaryButton:hover:not(:disabled),
.tertiaryButton:focus:not(:disabled) {
  background-color: #dddddd; }

.tertiaryButton:active:not(:disabled) {
  background-color: #b8b8b8; }

.tertiaryButton-icon {
  margin-right: 0.625rem;
  color: #02aaf3;
  vertical-align: middle; }

.tertiaryButton-icon.is-disabled {
  color: #999999; }

.tertiaryButton-label {
  vertical-align: middle;
  max-width: calc(100% - (1.5rem + 0.625rem));
  display: inline-block; }

.buttonGroup {
  width: 100%;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 1.5px;
  background-color: #02aaf3;
  margin-right: 1.875rem;
  margin-bottom: 1.875rem; }

.buttonGroupItem {
  min-width: 9.375rem;
  height: 2.75rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  color: #02aaf3;
  margin: 1.5px; }

.buttonGroupItem:focus {
  outline: none; }

.buttonGroupItem.is-active {
  background-color: #02aaf3;
  color: #ffffff; }

.buttonGroupItem:not(.is-active):hover,
.buttonGroupItem:not(.is-active):focus {
  color: #0288c2; }

.buttonGroupItem:not(.is-active):active {
  background-color: #0288c2;
  color: #ffffff; }

.inlineButton {
  display: inline-block;
  text-transform: uppercase;
  color: #02aaf3;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  max-width: 100%;
  border: none;
  text-align: left;
  margin-bottom: 0;
  height: auto;
  padding: 0;
  min-width: inherit;
  border-width: 0; }

.inlineButton--small {
  font-size: 0.75rem; }

.inlineButton--medium {
  font-size: 0.875rem; }

.inlineButton--large {
  font-size: 1rem; }

.inlineButton:hover,
.inlineButton:focus {
  color: #0288c2; }

.inlineButton:active {
  color: #0177aa; }

.inlineButton-icon {
  margin-left: 0.5625rem;
  margin-bottom: 0.25rem;
  vertical-align: middle; }

.inlineButton-icon--leftPosition {
  margin-left: 0;
  margin-right: 0.5625rem; }

.linkMoreButton-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.linkMoreButton-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: calc(100% - 3rem);
  padding-left: 1.25rem;
  margin-right: 0.0625rem;
  margin-bottom: 0.1875rem;
  text-align: center;
  line-height: 2.6875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.linkMoreButton-link:only-child {
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  width: 100%; }

.linkMoreButton-link:hover,
.linkMoreButton-link:focus {
  color: #ffffff; }

.linkMoreButton-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 0;
  width: 3rem;
  margin-right: 0;
  margin-bottom: 0.1875rem;
  padding: 0; }

.linkMoreButton-link:focus,
.linkMoreButton-link:active,
.linkMoreButton-toggle:focus,
.linkMoreButton-toggle:active {
  background-color: #007e26;
  border-color: #007e26; }

.linkMoreButton-toggle .icon {
  top: 0;
  vertical-align: middle; }

.moreButton-wrapper {
  width: 1.875rem; }

.dropdownMenu-toggle.moreButton {
  width: auto;
  cursor: pointer;
  -webkit-transition: background-color 150ms ease-in-out, fill 150ms ease-in-out;
  transition: background-color 150ms ease-in-out, fill 150ms ease-in-out;
  border-radius: 50%;
  padding: 5px; }
  .dropdownMenu-toggle.moreButton:focus {
    background-color: rgba(187, 184, 184, 0.2);
    outline: none; }
  .dropdownMenu-toggle.moreButton:hover, .dropdownMenu-toggle.moreButton:focus {
    color: #02aaf3; }

.moreButton-dropdown {
  max-width: 15rem;
  min-width: 15rem;
  right: 0; }

.moreButton {
  color: #b8b8b8; }

@media only screen and (max-width: 767px) {
  .buttonExtraLarge,
  .tertiaryButton,
  .buttonGroup {
    min-width: 14.375rem; }
  .button--small,
  .button--medium,
  .button--large,
  .button--extraLarge,
  .linkButton--small,
  .linkButton--large,
  .linkButton--extraLarge {
    padding: 0 0.9375rem; }
  .inlineButton-text--hideInMobile {
    display: none; } }

html,
body {
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #262626;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  letter-spacing: 0.025rem;
  -webkit-font-smoothing: antialiased; }

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.formField {
  min-width: 1rem;
  margin-bottom: 1.5rem;
  display: block; }

.formField-label {
  color: #262626;
  display: block;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase; }

.formField-iconContainer {
  position: relative; }

.formField-icon {
  color: #02aaf3;
  position: absolute;
  left: 0.9375rem;
  top: 1.1875rem; }

.formField-icon.is-disabled {
  color: #999999; }

.formField-icon + .formField-element,
.formField-icon + .formField-iconSibling .formField-element {
  padding-left: 2.5rem; }

.formField-message {
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
  margin-top: 0.375rem; }

.formField-message--success {
  color: #00b437; }

.formField-message--info {
  color: #02aaf3; }

.formField-message--alert {
  color: #f65f5f; }

.formField-messageIcon {
  display: inline-block;
  margin-right: 0.3125rem;
  position: relative;
  top: 0.0625rem;
  width: 0.75rem; }

.formField-messageText {
  display: inline-block;
  max-width: calc(100% - 1.0625rem);
  vertical-align: text-top; }

.formField-element--success.is-messageVisible {
  border-color: #00b437; }

.formField-element--info.is-messageVisible {
  border-color: #02aaf3; }

.formField-element--alert.is-messageVisible {
  border-color: #f65f5f; }

.formField-element--success.is-messageVisible:hover,
.formField-element--info.is-messageVisible:hover,
.formField-element--alert.is-messageVisible:hover {
  border-color: #999999; }

.formField-element--success.is-messageVisible:focus,
.formField-element--info.is-messageVisible:focus,
.formField-element--alert.is-messageVisible:focus {
  border-color: #02aaf3; }

.textField {
  width: 100%;
  height: 3.125rem;
  line-height: 1.125rem;
  padding: 1rem 1.25rem;
  color: #262626;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
  cursor: text;
  text-overflow: ellipsis; }

.textField::-webkit-input-placeholder {
  letter-spacing: 0.025rem;
  color: #b8b8b8; }

.textField:-ms-input-placeholder {
  letter-spacing: 0.025rem;
  color: #b8b8b8; }

.textField::-ms-input-placeholder {
  letter-spacing: 0.025rem;
  color: #b8b8b8; }

.textField::placeholder {
  letter-spacing: 0.025rem;
  color: #b8b8b8; }

.textField--secondary {
  background-color: #f4f4f4; }

.textField:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

.textField:hover {
  border-color: #999999; }

.textField:focus {
  border-color: #02aaf3;
  outline: none; }

.textField:disabled {
  background-color: #f4f4f4;
  color: #999999; }

.textField:disabled:hover {
  border-color: #dddddd; }

.formMessageBox {
  margin-bottom: 1.875rem;
  border-radius: 0.1875rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.125rem;
  border-width: 1px;
  border-style: solid; }

.formMessageBox-content {
  padding: 0.875rem; }

.formMessageBox-iconContainer {
  padding-top: 0.75rem;
  padding-left: 0.875rem; }

.formMessageBox--alert {
  color: #f65f5f;
  border-color: #fccfcf;
  background-color: #fffafa; }

.formMessageBox--info {
  color: #02aaf3;
  border-color: #ade3fb;
  background-color: #f7fcff; }

.formMessageBox--success {
  color: #00b437;
  border-color: #ace7be;
  background-color: #f7fdf9; }

.formMessageBox-icon {
  display: block; }

.formMessageBox-icon--alert {
  color: #fccfcf; }

.formMessageBox-icon--info {
  color: #ade3fb; }

.formMessageBox-icon--success {
  color: #ace7be; }

.formMessageBox-dismiss {
  padding-top: 1rem;
  padding-right: 0.875rem; }

.formMessageBox-dismiss-button--alert {
  color: #fccfcf; }
  .formMessageBox-dismiss-button--alert:hover, .formMessageBox-dismiss-button--alert:focus, .formMessageBox-dismiss-button--alert:active {
    color: #f65f5f; }

.formMessageBox-dismiss-button--info {
  color: #ade3fb; }
  .formMessageBox-dismiss-button--info:hover, .formMessageBox-dismiss-button--info:focus, .formMessageBox-dismiss-button--info:active {
    color: #02aaf3; }

.formMessageBox-dismiss-button--success {
  color: #ace7be; }
  .formMessageBox-dismiss-button--success:hover, .formMessageBox-dismiss-button--success:focus, .formMessageBox-dismiss-button--success:active {
    color: #00b437; }

.icon {
  fill: currentColor; }

.icon-small {
  width: 0.75rem;
  height: 0.75rem; }

.icon-medium {
  width: 1.25rem;
  height: 1.25rem; }

.icon-large {
  width: 1.5rem;
  height: 1.5rem; }

svg use {
  pointer-events: none; }

body {
  background-color: #f4f4f4; }

main#mainContent {
  max-width: 960px !important;
  width: 100%;
  margin: 30px auto 30px auto;
  padding-bottom: 0 !important;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #02aaf3; }

a:hover {
  text-decoration: none; }

.forgotPW-form {
  margin-bottom: 0; }

.forgotPW-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.forgotPW-section {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  border: 1px solid #dddddd;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff; }

.forgotPW-header {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: bold; }

.forgotPW-header {
  padding-bottom: 25px; }

.divider {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px; }

.forgotPW-inputs {
  padding-bottom: 25px; }

.forgotPW-inputs + .button {
  width: 100%;
  background-image: none;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

input[type="email"] {
  width: 100%;
  height: 3.125rem;
  line-height: 1.125rem;
  padding: 1rem 1.25rem;
  color: #262626;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: text;
  text-overflow: ellipsis;
  font-family: unset;
  font-size: 16px;
  margin: unset; }

input[type="email"]:invalid {
  border-color: #f65f5f;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="email"]:focus {
  border-color: #02aaf3;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: unset; }

span.error, small.error {
  color: #f65f5f; }

.button {
  background-image: none; }

.primaryButton.button {
  -webkit-appearance: none !important;
  font-weight: bold !important;
  border-width: 0;
  background-color: #00b437;
  color: #ffffff;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.025rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  display: inline-block;
  width: 100%;
  font-weight: normal;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0; }

.primaryButton.button:hover {
  background-image: none; }

.secondaryButton {
  background-image: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.secondaryButton:hover {
  background-image: none;
  text-decoration: none; }

.formField-label {
  text-transform: uppercase; }

.instructions-section {
  display: inline-block;
  padding-bottom: 30px;
  font-size: 16px; }

.forgotPw-assistance {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-top: 30px; }

.signin-privacy > .section {
  display: inline; }

input[type="text"].form-input-type-text.textField,
input[type="password"].form-input-type-text.textField {
  font-size: 16px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #E5F6FE inset;
          box-shadow: 0 0 0 50px #E5F6FE inset;
  background-color: #e5f6fe !important; }

.button {
  padding-left: 0;
  padding-right: 0;
  padding: 0; }

.button.inlineButton {
  display: inline;
  padding: 0px 0px 0px 5px;
  text-transform: none;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 16px; }

.button.inlineButton:hover,
.button.inlineButton:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.formMessageBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

.formMessageBox-content {
  word-break: break-all; }

.formMessageBox-iconContainer {
  padding-top: 0.875rem; }

.additional-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px; }

.backToSignIn-row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.backToSignIn-container {
  padding: 15px 30px; }

.alert-box {
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.alert-box.forgotPassword-success {
  background-color: #f7fdf9;
  border-color: #ace7be;
  color: #262626;
  font-weight: bold; }

.forgotPassword-success-icon {
  margin-right: 16px;
  font-size: 18px;
  line-height: 1.5;
  color: #ace7be; }

@media (min-width: 768px) {
  main#mainContent {
    margin: 60px auto 30px auto; }
  .forgotPW-section {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 500px;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px; }
  .showMobileOnly {
    display: none; }
  .button button.primaryButton {
    width: 260px; }
  .signin-privacy {
    color: #b8b8b8;
    font-size: 12px; }
  .freeCallout {
    font-weight: bold;
    font-size: 16px;
    padding-top: 30px; }
  .additional-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0; }
  .backToSignIn-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px; }

.forgotPW-togglePasswordVisibility {
  cursor: pointer;
  color: #02aaf3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .forgotPW-togglePasswordVisibility .toggle-icon {
    margin-right: 4px; }
  .forgotPW-togglePasswordVisibility .toggle-text {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px; }
